<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
<div>
</div>
<a th:text="${title}"></a>
<ul>
    <li th:text="${user.id}"></li>
    <li th:text="${user.username}"></li>
    <li th:text="${user.password}">11</li>
    <li th:text="${user.sexy}">11</li>
    <li th:text="${user.age}">11</li>
    <li th:text="${user.birthday}">11</li>
    <li th:text="${user.role}">11</li>
    <li th:text="${user.comments}">11</li>

</ul>
</body>
</html>
